DATABASE_URL=postgres://pansori:pansori@localhost:5432/pansori_db
FRONTEND_URL=http://localhost:5173

# Docker Compose Postgres config
POSTGRES_USER=pansori
POSTGRES_PASSWORD=pansori
POSTGRES_DB=pansori_db
